<nav class="navbar navbar-expand-lg navbar-light bg-danger">
<img src="assets/img/iconBg.jpg" alt="" class="rounded-circle img-fluid" width="50">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto d-flex align-items">
      <li class="nav-item active mr-auto d-flex align-items-center">
        <a href="#" class="nav-link m-0 font-weight-bold text-white fs-16">Nome de usuário</a>
      </li>
      <li class="nav-item">
        <p class="text-white fs-16"><i class="fa fa-pencil-square-o " aria-hidden="true"></i></p>
      </li>
      <li class="nav-item">
      </li>
    </ul>
  <div>
    <p><a href="" class="m-0 font-weight-bold text-white">Sair <i class="fa fa-sign-out" aria-hidden="true"></i></a></p>
  </div>
  </div>
</nav>
